
page-add-item {

  .override-background-preview {
    max-height: 10rem !important;
    max-width: 10rem !important;
    border-radius: inherit !important;
  }

  .btns-modal ion-label {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .loading-background {
    position: relative;
    left: -25px;
    width: 25px;
    height: 25px;
  }

  .lbl-indent {
    position: relative;
    left: -25px;
  }

  .mandatory {
    color: red;
  }
}
