<ion-header>
  <ion-navbar>
    <button ion-button menuToggle large>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shop</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p class="center-text">Here you can buy items for more customization.</p>

  <p class="center-text" *ngIf="!firstLoad && items?.length === 0">
    No item available, please contact admin for more info.
  </p>

  <ion-list>
    <ion-item class="list-style" *ngFor="let item of items">
      <h3>{{item.name}}</h3>
      <p>{{item.price}}</p>

      <div item-right class="btn-shop">

        <button ion-button clear icon-only *ngIf="!isItemBought(item)"
                (click)="buyItem(item)">
          <ion-icon><i class="material-icons violet-color">add_shopping_cart</i></ion-icon>
        </button>

        <button ion-button clear icon-only *ngIf="isItemBought(item) && !isItemActive(item)"
                (click)="activateItem(item)">
          <ion-icon><i class="material-icons grey_color">gavel</i></ion-icon>
        </button>

        <div clear *ngIf="isItemActive(item) && !isItemInactive(item)">
          <ion-icon><i class="material-icons green-color">offline_pin</i></ion-icon>
        </div>

        <div *ngIf="getActivationDate(item) !== ''" class="date-font">
          {{getActivationDate(item) | date}}
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab bottom right *ngIf="currentUser?.isAdmin">
    <button ion-fab mini (tap)="addItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
