page-shop {

  .list-style {
    border: 1px solid #b0b0b0;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .green-color {
    color: #22bfbf;
  }

  .blue-color {
    color: #003366;
  }

}
