<ion-header>

  <ion-navbar>
    <ion-title>Changing Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="passwordForm">
      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" formControlName="password" [(ngModel)]="newPassword"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="formErrors.password">
        <div class="alert alert-danger">{{formErrors.password}}</div>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm New Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword" [(ngModel)]="confirmNewPassword"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="formErrors.confirmPassword">
        <div class="alert alert-danger">{{formErrors.confirmPassword}}</div>
      </ion-item>
    </form>
  </ion-list>

  <ion-item no-lines class="btns-modal">
    <button ion-button clear (tap)="cancel()">Cancel Changes</button>
    <button ion-button clear (tap)="save()">Save Password</button>
  </ion-item>
</ion-content>
